{% extends 'base.html' %}

{% block title %}
<title>Про компанию</title>
{% endblock %}

{% block body %}
<div class="container">
    <img src="/static/img/fon.jpg">
    <h2>История нашей компании</h2>
    <p>Выпустившись из Яндекс.Лицея ребята решили запустить собственный проект по обучению программированию. Разработав оптимальную программу обучения, ребята запустили собственные курсы, выступив при этом ведущими специалистами. На этом пути они столкнулись со многими сложностями: поиск лучшего подхода к ученикам, освоение новых форматов, большая конкуренция на рынке и небольшой опыт работы с собственной группой. Организовав себя, свои знания и умения, они все не только смогли стать хорошими специалистами, востребованными на своей специальности, но и обеспечить своим ученикам максимально комфортные и благоприятные условия. Убедиться в этом Вы можете, посетив наши бесплатные пробные занятия.</p>

</div>
{% endblock %}
