{% extends 'base.html' %}

{% block title %}
<title>Любитель</title>
{% endblock %}

{% block body %}
<div class="container">
    <h1>Про курс "Любитель"</h1>
    <p>Выберите любое удобное для вас время занятий и освойте ключевые возможности Python для решения задач в различных IT-областях!</p>
    <h1>Что даст вам этот курс?</h1>
    <p>Вы изучите синтаксис и <b>уверенно овладеете базовыми приемами программирования на Python.</b> Вы получите подготовку для работы в разных сферах применения языка: web-разработка, автотестирование, асинхронное программирование, работа с API, Data Science и парсинг сайтов. Ряд занятий посвящен смежным темам, например shell, git, а также DevOps-инструментам: Docker, Gitlab CI/CD, Github Actions и т.д., что позволит стать самодостаточной боевой единицей в команде разработчиков. Разносторонняя программа расширит ваш кругозор и <b>поможет четче определиться, в какой области продолжать развиваться.</b> При этом знаний и навыков, которые вы получите в каждой области, будет достаточно, чтобы претендовать на позиции junior-специалиста.</p>
    <h1>Для кого этот курс?</h1>
    <p>Для начинающих Python-разработчиков и разработчиков, знакомых с другими языками программирования, которые хотят получить систематизированные знания и овладеть практическими навыками современной разработки. Так как для обучения нужно обладать начальными знаниями программирования и принципами ООП, вы в короткие сроки освоите возможности Python, а затем сконцентрируетесь на решении различных промышленных задач. Вы будете учиться работать с версией Python 3.</p>
    <h1>После обучения вы сможете:</h1>
    <ul>
        <li>Разрабатывать веб-приложения на Python, в том числе на основе Flask</li>
        <li>Работать в асинхронном режиме с вебом и базами данных</li>
        <li>Создавать настраивать автоматические тесты</li>
        <li>Работать с shell, Git</li>
        <li>Работать с API, парсить сайты</li>
        <li>Использовать библиотеки для Data Science: numpy, pandas, opencv</li>
        <li>Разворачивать свои приложения в Docker-контейнерах</li>
        <li>Настраивать автоматический деплой</li>
    </ul>
    <a type="button" class="btn btn-lg btn-block btn-outline-primary" href="/pay">Оплатить курс</a>
</div>
{% endblock %}