{% extends 'base.html' %}

{% block title %}
<title>Новичок</title>
{% endblock %}

{% block body %}
<div class="container">
    <h1>Про курс "Новичок"</h1>
    <p>Выберите любое удобное для вас время занятий и получите базу знаний, необходимых в программировании!</p>
    <h1>Что даст вам этот курс?</h1>
    <p>Вы узнаете, что такое программирование, как и для чего его используют, историю языка Python, его особенности, изучите синтаксис. Узнаете, как строятся базовые алгоритмические единицы. Узнаете всю базовую информацию про циклы, ветвления и особенности ввода и вывода. Данный курс <b>поможет Вам понять, хотите ли Вы связать свою жизнь с программированием.</b></p>
    <h1>Для кого этот курс?</h1>
    <p>Для людей, имеющих очень смутное представление о программировании, детей школьного возраста и детей старшего школьного возраста, знакомых с другими языками программирования и желающих начать работу на Python. Для обучения не обязательно обладать даже начальными знаниями и пинципами ООП!</p>
    <h1>После обучения вы сможете:</h1>
     <ul>
        <li>Написать свою первую программу</li>
        <li>Начать углубляться в данную сферу, уже имея базовые представления</li>
        <li>Пройти тестирование по пройденому материалу</li>
        <li>Работать со средой интерпретатора языка</li>
        <li>Получить сертификат на скидку 10% на любой из наших курсов</li>
    </ul>
    <a type="button" class="btn btn-lg btn-block btn-outline-primary" href="/pay">Подписаться на курс</a>
</div>
{% endblock %}

