{% extends 'base.html' %}

{% block title %}
<title>Политика конфиденциальности</title>
{% endblock %}

{% block body %}
<div class="container">
    <h1>Политика конфиденциальности</h1>
    <p>Мы уважаем вашу конфиденциальность и просим вас ознакомиться с настоящей Политикой (далее - Политика), чтобы знать, какие сведения и для каких целей мы собираем, раскрываем третьим лицам, а также как вы можете их изменять или удалять.</p>
    <h1>Каким образом вы даете согласие на обработку персональных данных?</h1>
    <p>Соглашаясь с условиями Политики, вы даете Оператору свое информированное и осознанное согласие на обработку ваших персональных данных на условиях, предусмотренных Политикой и Федеральным законом от 27 июля 2006 г. N 152-ФЗ "О персональных данных" (далее - Закон). При этом мы исходим из следующего:</p>
    <ul>
        <li>вы предоставили полностью достоверную информацию. Мы не проверяем ее подлинность. Все риски предоставления недостоверной или недостаточной информации лежат на вас</li>
        <li>вы имеете право давать соответствующее согласие. Если по какой-то причине у вас нет такого права, согласие на обработку персональных данных предоставляется вашим законным представителем</li>
    </ul>
    <p>Правовым основанием обработки персональных данных являются:</p>
    <ul>
        <li>федеральные законы и принятые на их основе нормативные правовые акты, регулирующие отношения, связанные с деятельностью Общества;</li>
        <li>уставные документы Общества;</li>
        <li>договоры, заключаемые между Обществом и вами;</li>
        <li>согласие на обработку персональных данных (в случаях, прямо не предусмотренных законодательством Российской Федерации, но соответствующих полномочиям Общества).</li>
    </ul>

    <h1>Обработка персональных данных и безопасность</h1>
    <p>Для обработки ваших персональных данных мы используем базы данных на территории Российской Федерации.</p>
    <p>Ваши персональные данные обрабатываются с использованием автоматизированных систем, за исключением случаев, когда неавтоматизированная обработка персональных данных необходима в связи с исполнением требований законодательства.</p>
    <p>“Оператор обрабатывает ваши персональные данные”  - это значит, что мы можем совершать с вашими персональными данными следующие действия: сбор, запись, систематизация, накопление, хранение, уточнение (обновление, изменение), извлечение, использование, передача, обезличивание, блокирование, удаление, уничтожение.</p>
    <p>Мы храним ваши персональные данные на электронных носителях. Иногда для исполнения наших обязательств перед вами мы можем извлекать их и хранить их на материальных носителях.</p>
    <p>Мы применяем соответствующие корпоративные системы и процедуры с целью защиты и охраны предоставленных нам персональных данных. Только обладающие особыми правами сотрудники имеют право доступа к персональным данным в процессе выполнения своих обязанностей.</p>
</div>
{% endblock %}
