{% extends 'base.html' %}

{% block title %}
<title>Публичная оферта</title>
{% endblock %}

{% block body %}
<div class="container">
    <h1>Публичная оферта</h1>
    <p>Настоящий документ является предложением Общества с ограниченной ответственностью «Курсы программирования D-courses» (далее по тексту Оферты – Исполнитель) заключить Договор на оказание платных образовательных услуг по программам повышения квалификации с исполнением по требованию (абонентский договор) (далее по тексту Оферты - Абонентский договор) с любым заинтересованным физическим или юридическим лицом (далее по тексту Оферты – Заказчик) и указанными им физическими лицами, отвечающими требованиям, установленным в п. 1.8. Оферты (далее и по тексту Оферты – Слушатель). Настоящий документ является публичной офертой в соответствии с пунктом 2 статьи 437 Гражданского Кодекса Российской Федерации.</p>
    <h1>Предмет абонентского договора</h1>
    <p> 1.1 Заказчик оплачивает образовательные услуги Исполнителя в отношении выбранного Заказчиком абонемента (вносит абонентскую плату), и получает право требовать от Исполнителя предоставить указанному Заказчиком Слушателю возможность обучения на любой из входящих в состав абонемента Программ, Исполнитель обязуется оказывать в отношении названных Заказчиком Слушателей образовательные услуги по первому требованию Заказчика, а каждый Слушатель обязуется предпринять все зависящие от него действия, необходимые для зачисления, прохождения и завершения обучения по Программе.</p>
    <p> 1.2 Заказчик вправе включить в абонемент любые Программы, обучение по которым проводится исключительно с использованием дистанционных технологий на онлайн платформе Исполнителя (программное обеспечение, представляющее собой набор взаимосвязанных веб-сервисов и модулей, составляющих единое пространство предоставления услуг потребителям в сети Интернет), и в отношении которых Исполнитель специально указал, что данная Программа может быть включена в абонемент (данное условие указывается на странице Программы на сайте Исполнителя при выборе плана обучения).</p>
    <h1>Права и обязанности сторон</h1>
    <b>2.1 Права и обязанности Заказчика</b>

    <p>   2.1.1 Заказчик обязуется указать в Заявлении полную и достоверную информацию.</p>

    <p>   2.1.2 В течение 5 (пяти) рабочих дней с даты заключения Абонентского договора Заказчик обязуется предоставить Исполнителю оригинал Заявления и документ, подтверждающий полномочия представителя Заказчика, подписавшего Заявление.</p>

    <p>   2.1.3 Заказчик вправе получать информацию об успеваемости Слушателей и любую иную информацию по вопросам оказания платных образовательных услуг в порядке, предусмотренном п. 6.1. Оферты.</p>

    <p>   2.1.4 Заказчик вправе бесплатно получить у Исполнителя заверенную им копию лицензии на осуществление образовательной деятельности.</p>

    <b>    2.2 Права и обязанности Слушателя:</b>

    <p>    2.2.1 Для приема (зачисления) на обучение к Исполнителю, зачисления на Программу и формирования личного дела Слушателя в соответствии с требованиями законодательства РФ Слушатель предоставляет Исполнителю следующие документы:</p>

    <ul>
        <li>документ, удостоверяющего личность (разворот с ФИО: скан- либо фотокопия);</li>
        <li>документ о среднем профессиональном или высшем образовании (скан- либо фотокопия) либо документ, выданный в иностранном государстве и признаваемый эквивалентным российскому документу о среднем профессиональном или высшем образовании на основании международного соглашения Российской Федерации с государством, в котором выдан такой документ (ранее и далее - документ об образовании);</li>
        <li>при получении Слушателем высшего или среднего профессионального образования на момент зачисления на Программу - справка из учебного заведения, подтверждающая получение Слушателем высшего или среднего профессионального образования на момент зачисления на Программу (скан- либо фотокопия). Копия документа об образовании предоставляется Слушателем Организации по факту его получения;</li>
        <li>документ, подтверждающий смену фамилии (при необходимости).</li>
    </ul>
</div>
{% endblock %}
